@if (profile$ | async; as profile) {
  <header>
    <app-profile-header [profile]="profile" />

    <a class="btn" [routerLink]="['/settings']">Edit</a>
  </header>

  <main>
    <div>
      <h3>Subscribers {{ profile.subscribersAmount }}</h3>
      <div>
        @for (subscriber of subscribers$ | async; track subscriber.id) {
          <a [routerLink]="['/profile', subscriber.id]">
            <img
              class="subscriber-avatar"
              [src]="subscriber.avatarUrl | imgUrl"
              [alt]="subscriber.firstName" />
          </a>
        }
        <a [routerLink]="['/search']"> Search </a>
      </div>
    </div>

    <div>
      <h3>Skills</h3>
      <div>
        @for (skill of profile.stack; track skill) {
          <div class="skill-tag">{{ skill }}</div>
        }
      </div>
    </div>
  </main>
}
